In [1]:
import numpy as np
import pandas as pd

In [2]:
def print_Siries(s):
    print(s)
    print('\n')
    print("занчения:",s.values)
    print('\n')
    print("индексы:",s.index)

In [3]:
data = pd.Series([0.1, 1.12, 2.4442, 3.1123, 4.33])
print_Siries(data)

0    0.1000
1    1.1200
2    2.4442
3    3.1123
4    4.3300
dtype: float64


занчения: [0.1    1.12   2.4442 3.1123 4.33  ]


индексы: RangeIndex(start=0, stop=5, step=1)

In [4]:
data = pd.Series([0.1, 1.12, 2.4442, 3.1123, 4.33], index=['nikita', 'vlad', 'artem', 'egor', 'egor'])
print_Siries(data)
print('\n')
print(data['egor'])

nikita    0.1000
vlad      1.1200
artem     2.4442
egor      3.1123
egor      4.3300
dtype: float64


занчения: [0.1    1.12   2.4442 3.1123 4.33  ]


индексы: Index(['nikita', 'vlad', 'artem', 'egor', 'egor'], dtype='object')


egor    3.1123
egor    4.3300
dtype: float64

## *Series, как словарь*

In [5]:
p_d = {
    'nikita': 1,
    'vlad': 2, 
    'artem': 221,
    'egor': 412,
    'lida': 11
}
data = pd.Series(p_d)
print_Siries(data)
print('\n')
print('NIKITAS: ', data['nikita'])
print('\n')
print('SPLICE:')
print(data['nikita':'artem'])

nikita      1
vlad        2
artem     221
egor      412
lida       11
dtype: int64


занчения: [  1   2 221 412  11]


индексы: Index(['nikita', 'vlad', 'artem', 'egor', 'lida'], dtype='object')


NIKITAS:  1


SPLICE:
nikita      1
vlad        2
artem     221
dtype: int64

In [6]:
pd.Series(5, index=[1,2,3,4])

1    5
2    5
3    5
4    5
dtype: int64

In [8]:
pd.Series({
    'a': 1,
    'b': 2,
    'c': 5,
    'd': 10
})

a     1
b     2
c     5
d    10
dtype: int64

### Внимание
**Заполняется только индексами перечислеными в массиве** ***index=***

In [9]:
pd.Series({
    'a': 1,
    'b': 2,
    'c': 5,
    'd': 10
}, index=['a','d'])

a     1
d    10
dtype: int64

In [25]:
weight = {
    'nikita': 999999,
    'artemT': 120,
    'artemP': 80,
    'kirill': 70
}

hight = {
    'nikita': 185,
    'artemT': 184,
    'artemP': 185,
    'kirill': 170
}
print("Вес:",weight)
print("Рост:",hight)
ppl_data = pd.DataFrame({
    'weight': weight,
    'hight': hight
})
print(ppl_data)
print("\n")
print('Indexes:', ppl_data.index)
print(ppl_data.columns)

Вес: {'nikita': 999999, 'artemT': 120, 'artemP': 80, 'kirill': 70}
Рост: {'nikita': 185, 'artemT': 184, 'artemP': 185, 'kirill': 170}
        weight  hight
artemP      80    185
artemT     120    184
kirill      70    170
nikita  999999    185


Indexes: Index(['artemP', 'artemT', 'kirill', 'nikita'], dtype='object')
Index(['weight', 'hight'], dtype='object')

In [26]:
ppl_data['weight']

artemP        80
artemT       120
kirill        70
nikita    999999
Name: weight, dtype: int64

## Другие способы создания DataFrame

In [37]:
# Из одного Series
w = pd.Series(weight)
print(w)
pd.DataFrame(w, columns=['weight'])

nikita    999999
artemT       120
artemP        80
kirill        70
dtype: int64

        weight
nikita  999999
artemT     120
artemP      80
kirill      70

In [44]:
# Из двумерного массива NumPy
pd.DataFrame(np.random.randint(100, size=(3,2)), columns=['fool', 'loop'], index=['a','b','c'])

   fool  loop
a    53    92
b    77    75
c    33    98

In [53]:
# Из структурного массива NumPy
types = np.dtype([
    ('pp', 'i8'),
    ('gg', 'f8')
])
pd.DataFrame(np.ones(5,dtype=types))

   pp   gg
0   1  1.0
1   1  1.0
2   1  1.0
3   1  1.0
4   1  1.0

## Index - неизменяемый массив

In [55]:
ind = pd.Index([1,2,3,4,5,6,7,11])
ind

Int64Index([1, 2, 3, 4, 5, 6, 7, 11], dtype='int64')

In [58]:
ind[::3]

Int64Index([1, 4, 7], dtype='int64')

In [59]:
ind[0] = 1

TypeError: Index does not support mutable operations

## Index - упорядоченное множество

In [61]:
indA = pd.Index([2,5,7,9])
indB = pd.Index([5,6,7])

In [62]:
indA & indB

Int64Index([5, 7], dtype='int64')

In [63]:
indA | indB

Int64Index([2, 5, 6, 7, 9], dtype='int64')

In [64]:
indA ^ indB

Int64Index([2, 6, 9], dtype='int64')